.ftcontainer {
    border: 1px solid black;
    padding: 35px 0px;
}
.social {
    text-align: center;
}
.smedia {
    height: 2em;
    margin-right: 25px;
}
.quote {
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
}